body,html{
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}


body{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

/* SIDEBAR */

.sidebar{
  grid-row: 1/3;
  display: grid;
  grid-template-rows: 1fr 8fr;
  color: white;
}

.dash-icon{
  filter: invert(100%);
  padding-right: 5px;
}

.branding{
  background-color: red;
  display: flex;
  align-items: center;
  padding: 0 40px 0 20px;
}

.branding h1{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 27px;
}

.navigate{
  background-color: blue;
  display: flex;
  flex-direction: column;
  gap:35px;
  padding: 20px;
}

.top, .bottom{
  display: flex;
  flex-direction: column;
  gap:10px;
}

.sidebar-link{
  display: flex;
  align-items: center;
  gap: 15px;
}

.sidebar-link img{
  filter: invert(100%);
}


.sidebar-link a{
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* HEADER */

.header{
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-template-rows: 2fr 3fr;
}

.searchbar{
  background-color: blue;
}

.user-info{
  background-color: gray;
}

.welcome{
  background-color: yellow;
}

.buttons{
  background-color: pink;
}

/* CONTENT AREA */
.content-area{
  display: grid;
  grid-template-columns: 3.5fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.projects{
  background-color: gray;
  grid-row: 1/3;
}

.announce{
  background-color: black;
}

.trend{
  background-color: yellow;
}
